.container{
    width: 100%;
    text-align: center;
}
#color-box{
    height: 350px;
    width: 100%;
    background-color: red;
}
#change-color-btn{
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    width: 250px;
    border-start-end-radius: 9999px;
    border-end-end-radius: 9999px;
    border-start-start-radius: 9999px;
    border-end-start-radius: 9999px;
    background-color: rgb(99 102 241);
}